In [ ]:
# dictionary
# -indexed
# -Duplicate value
# -Ordered
# -mutable

In [1]:
d =dict()
d = {}

SyntaxError: invalid syntax (667391236.py, line 2)

In [2]:
d = {"a":"apple","b":"ball"}
d

{'a': 'apple', 'd': 'ball'}

In [6]:
d['a']

'apple'

In [7]:
d = {"a":"apple","b":"ball","A":"Apple"}
d

{'a': 'apple', 'b': 'ball', 'A': 'Apple'}

In [8]:
d = {"a":"apple","b":"ball","a":"Apple"}
d

{'a': 'Apple', 'b': 'ball'}

In [9]:
d = {"a":"apple","b":"ball","A":"Apple"}
d['a']='Dog'
d

{'a': 'Dog', 'b': 'ball', 'A': 'Apple'}

In [10]:
d = {"a":"apple","b":"ball","A":"Apple"}
d['a']='apple'
d

{'a': 'apple', 'b': 'ball', 'A': 'Apple'}

In [11]:
d ={}
d['a'] = 'Apple'
d['b'] = 'Ball'
d

{'a': 'Apple', 'b': 'Ball'}

In [20]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name= ")
    phone = input("Enter phone= ")
    d[name]=phone
           
print(d)

Enter n = 2
Enter name= ram
Enter phone= 1234567
Enter name= ram
Enter phone= `123
{'ram': '`123'}

In [24]:
l = []
d = {'Ram':'9800793050','Hari':'12345678888'}
for i in d.items():
    l.append(i)
    
print(l)

[('Ram', '9800793050'), ('Hari', '12345678888')]

In [25]:
dict(l)

{'Ram': '9800793050', 'Hari': '12345678888'}

In [26]:
# del
d = {'Ram':'9800793050','Hari':'12345678888'}
del d['Ram']
d

{'Hari': '12345678888'}

In [30]:
# pop
d = {'Ram':'9800793050','Hari':'12345678888'}
c = d.pop('Ram')
print(c)
print(d)

9800793050
{'Hari': '12345678888'}

In [1]:
# list inside dictionary
d = {'Ram':['9800793050',34567899876],'Hari':['12345678888','9800793050']}
d

{'Ram': ['9800793050', 34567899876], 'Hari': ['12345678888', '9800793050']}

In [8]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name ")
    ntc_phone = input("Enter ntc phone")
    ncell_phone = input("Enter ncell phone")
    d[name] = [ntc_phone,ncell_phone]

print(d)

Enter n = 2
Enter name Ram
Enter ntc phone9800793929
Enter ncell phone9800789943
Enter name Hari
Enter ntc phone980076362
Enter ncell phone9819427784
{'Ram': ['9800793929', '9800789943'], 'Hari': ['980076362', '9819427784']}

In [7]:
d = {'Ram':['9800793050','34567899876'],'Hari':['12345678888','9800793050']}
d['Hari'].append('9819427784')
d

{'Ram': ['9800793050', '34567899876'],
 'Hari': ['12345678888', '9800793050', '9819427784']}

In [40]:
d = {'name':['Ram','Shyam','Hari'],'age':['12','32','35'],'add':['but','bhw','pok']}
d['name'].append('rama')
d['age'].append('45')
d['add'].append('bara')
d

{'name': ['Ram', 'Shyam', 'Hari', 'rama'],
 'age': ['12', '32', '35', '45'],
 'add': ['but', 'bhw', 'pok', 'bara']}

In [ ]:
# dict inside list
l =[{'name': Ram', 'age':, '45','add':,'but'],
   ['name': Ram', 'age':, '45','add':,'but'],
   ['name': Ram', 'age':, '45','add':,'but']}
l

In [15]:
l = []
n = int(input("Enter n = "))
for i in range(n):
    name =input("Enter name = ")
    age =int(input("Enter age = "))
    add =input("Enter add = ")
    d ={'name':name,'age':age,'add':add}
    l.append(d)
             
l

Enter n = 2
Enter name = raman
Enter age = 29
Enter add = bhw
Enter name = sinu
Enter age = 43
Enter add = but

[{'name': 'raman', 'age': 29, 'add': 'bhw'},
 {'name': 'sinu', 'age': 43, 'add': 'but'}]

In [13]:
# dict inside dict
d = {1:{"name":"Ram","grade":"A"},
    2:{"name":"Hari","grade":"B"},
    3:{"name":"Shyam","grade":"C"}}
d

{1: {'name': 'Ram', 'grade': 'A'},
 2: {'name': 'Hari', 'grade': 'B'},
 3: {'name': 'Shyam', 'grade': 'C'}}

In [48]:
d = {}
d[1]={"name":"Ram","grade":"A"}
d[2]={"name":"Hari","grade":"B"}
d

{1: {'name': 'Ram', 'grade': 'A'}, 2: {'name': 'Hari', 'grade': 'B'}}

In [ ]:
d[1]={"name":"Ram","grade":"A"}
d[2]={"name":"Hari","grade":"B"}
d