In [ ]:
# file = open(<file_path>',<mode>')
# file.close()

In [ ]:
# with open ('<file_name>'<mode>')as file.
#            <operation>

In [ ]:
# mode
# read->'r'
# create->'c'
# write->'w'
# append->'a'

In [11]:
try:
    file = open('new_file.txt','x')
    file.close()
except:
    print("The file is already created")

The file is already created

In [13]:
#Read file
file = open('new_file.txt','r')
x = file.read()
print(x)
print(type(x))
file.close()

1.Hello World
2.Hello World
3.Hello World
4.Hello World
5.Hello World
6.Hello World
<class 'str'>

In [16]:
n = int(input("Enter n = "))
x.split('\n')[n-1]

Enter n = 5

'5.Hello World'

In [18]:
with open('data.txt','w') as file:
    file.write('Hello World')

In [19]:
s =""
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = input("Enter age = ")
    add = input("Enter add = ")
    s =s+f"{name} {age} {add}\n"
#     s =s+bill
    print(s)
    
with open('data.txt','w')as file:
    file.write(s)

Enter n = 2
Enter name = ram
Enter age = 23
Enter add = ktm
ram 23 ktm

Enter name = Bishal
Enter age = 20
Enter add = Bhw
ram 23 ktm
Bishal  20 Bhw

In [20]:
pwd

'C:\\Users\\Administrator\\python_8_am'

In [21]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name} {price} {quantity} {total}\n"
    s = s+bill
    
print(s)
with open('data.txt','w') as file:
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 50
Enter quantity = 2
Enter name = Mango
Enter price = 100
Enter quantity = 4
Apple 50 2 100
Mango 100 4 400

In [22]:
#csv file
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    bill = f"{name},{price},{quantity},{total}\n"
    s = s+bill
    
print(s)
with open('data.csv','w') as file:
    file.write('Name,Price,Quantity,Total\n')
    file.write(s)

Enter n = 2
Enter name = Apple
Enter price = 2
Enter quantity = 4
Enter name = biscute
Enter price = 20
Enter quantity = 2
Apple,2,4,8
biscute,20,2,40

In [23]:
#pip install pandas
import pandas as pd
df = pd.read_csv('data.csv')
df

      Name  Price  Quantity  Total
0    Apple      2         4      8
1  biscute     20         2     40

In [25]:
import csv
a = [['Name','Price','Quantity','Total'],
     ['Momo',200,3,600],
     ['Coke',100,2,200]]
with open('bill.csv','w') as file:
    x = csv.writer(file)
    x.writerows(a)

In [ ]:
# import csv
# data = []
# with open('bill.csv','r') as file:
#     reader = csv.DictReader(file)
#     for i in reader:
#         data.append(i)
        
# data

In [41]:
import csv 
data =[]
with open('bill.csv','r') as file:
    reader = csv.DictReader(file)
    for i in reader:
        data.append(i)
        
data

[{'Name': 'Momo', 'Price': '200', 'Quantity': '3', 'Total': '600'},
 {'Name': 'Coke', 'Price': '100', 'Quantity': '2', 'Total': '200'}]

In [50]:
file = open('data.csv','r')
x = file.read()
y = x.split('\n')
print(y)
file.close()

['Name,Price,Quantity,Total', 'Apple,2,4,8', 'biscute,20,2,40', '']

In [51]:
all_result=[]
for i in y[0:-1]:
    all_result.append(i.split(','))
    
all_result

[['Name', 'Price', 'Quantity', 'Total'],
 ['Apple', '2', '4', '8'],
 ['biscute', '20', '2', '40']]

In [52]:
import csv
a = ['Pizza',200,4,800]
with open('bill.csv','a') as file:
    x = csv.writer(file)
    x.writerow(a)