In [1]:
a = []
a.append('Apple')
a.append('Ball')
a.append('Cat')
a

['Apple', 'Ball', 'Cat']

In [2]:
a = ['Apple', 'Ball', 'Cat']
a.append('Dog')
a

['Apple', 'Ball', 'Cat', 'Dog']

In [3]:
a = list()
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    a.append(x)
    print(a)

Enter n = 2
Enter x = apple
['apple']
Enter x = ball
['apple', 'ball']

In [4]:
a = ['Apple', 'Ball', 'Cat']
a.insert(1,'Apple')
a

['Apple', 'Apple', 'Ball', 'Cat']

In [5]:
a = ['Apple', 'Ball', 'Cat']
b = ['Fish','Cow']
a.extend(b)
a

['Apple', 'Ball', 'Cat', 'Fish', 'Cow']

In [6]:
a = ['Apple', 'Ball', 'Cat']
a[0]='apple'
a

['apple', 'Ball', 'Cat']

In [9]:
a = ['Apple', 'Ball', 'Cat']
a[2]= 'apple'
a[1]= 'cat'
a

['Apple', 'cat', 'apple']

In [10]:
a = ['Apple', 'Ball', 'Cat']
del a[1]
a

['Apple', 'Cat']

In [11]:
a = ['Apple', 'Ball', 'Cat','Fish']
del a[0:2]
a

['Cat', 'Fish']

In [12]:
a = ['Apple', 'Ball', 'Cat','Fish']
a.remove('Fish')
a

['Apple', 'Ball', 'Cat']

In [14]:
a = ['Apple', 'Ball', 'Cat','Apple']
l = a.count('Apple')
for i in range(2):
    a.remove('Apple')
a

['Ball', 'Cat']

In [18]:
a = ['Apple', 'Ball', 'Cat','Apple']
a.index('Cat')

2

In [23]:
a = ['Apple', 'Ball', 'Cat','Apple']
l =len(a)
for i in range(l):
    if a[i]=='Apple':
       print(i)

0
3

In [24]:
a = ['Apple', 'Ball', 'Cat','Apple']
l =len(a)
for i in range(l):
    if a[i]=='Apple':
       a[i] = 'apple'
a

['apple', 'Ball', 'Cat', 'apple']

In [28]:
a = ['Apple', 'Ball', 'Cat','Apple']
b = []
x = input("Enter x =")
y = input("Enter y =")
for i in a:
    if i == x:
        b.append(y)
    else:
        b.append(i)
b

Enter x =Apple
Enter y =Ball

['Ball', 'Ball', 'Cat', 'Ball']

In [30]:
a = ['Apple', 'Ball', 'Cat','Apple']
if "Apple" in a:
    print("Yes",a.count("Apple"))

Yes 2

In [31]:
# wap to search any value inside a list

In [33]:
# List inside list(nested_list)
a = [['Ram','30','Bhw'],['Hari','45','ktm'],['Ravi','35','pok']]

b =[[1,2,3],[4,5,6],[7,8,9]]
a[0][1]

'30'

In [34]:
a.append(['Ram','30','Bhw'])
a

[['Ram', '30', 'Bhw'],
 ['Hari', '45', 'ktm'],
 ['Ravi', '35', 'pok'],
 ['Ram', '30', 'Bhw']]

In [37]:
a.insert(2,['Ram','30','Bhw'])
a

[['Ram', '30', 'Bhw'],
 ['Hari', '45', 'ktm'],
 ['Ram', '30', 'Bhw'],
 ['Ravi', '35', 'pok'],
 ['Ram', '30', 'Bhw']]

In [38]:
for i in a:
    print(i)

['Ram', '30', 'Bhw']
['Hari', '45', 'ktm']
['Ram', '30', 'Bhw']
['Ravi', '35', 'pok']
['Ram', '30', 'Bhw']

In [39]:
search = input("Enter name = ")
for i in a:
    if search in i:
        print(i)

Enter name = Ravi
['Ravi', '35', 'pok']

In [40]:
a

[['Ram', '30', 'Bhw'],
 ['Hari', '45', 'ktm'],
 ['Ram', '30', 'Bhw'],
 ['Ravi', '35', 'pok'],
 ['Ram', '30', 'Bhw']]

In [41]:
a[0]= ['Shyam','40','but']
a

[['Shyam', '40', 'but'],
 ['Hari', '45', 'ktm'],
 ['Ram', '30', 'Bhw'],
 ['Ravi', '35', 'pok'],
 ['Ram', '30', 'Bhw']]

In [42]:
a[2][0] = 'Roman'
a

[['Shyam', '40', 'but'],
 ['Hari', '45', 'ktm'],
 ['Roman', '30', 'Bhw'],
 ['Ravi', '35', 'pok'],
 ['Ram', '30', 'Bhw']]

In [43]:
# wap to create a matrix
# r=?
# c=?
# x=?

In [46]:
a.index(['Roman', '30', 'Bhw'])

2

In [ ]:
# wap to remove duplicate data in list inside list