In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\administrator\anaconda3\lib\site-packages (2.2.9)

In [1]:
import mysql.connector   #importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE bhw")

In [4]:
# How to connect database mysql server

import mysql.connector   #importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",
    database="class8am"

)
db = database.cursor()

In [5]:
# How to check whole data of database from table

db.execute("SELECT * FROM student1")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Bishal', 80.0, 90.0, 98.0, 78.0, 76.0, 423.0, 84.6, 'A')
(2, 'Shree', 80.0, 90.0, 100.0, 50.0, 60.0, 290.0, 58.0, 'c+')
(3, 'bijay', 70.0, 80.0, 79.0, 90.0, 98.0, 417.0, 84.5, 'A')
(6, 'ravi', 67.0, 56.0, 78.0, 78.0, 89.0, 400.0, 67.0, 'b')
(11, 'simon', 76.0, 56.0, 87.0, 89.0, 89.0, 415.0, 67.0, 'B')
(13, 'prince', 667.0, 78.0, 78.0, 89.0, 90.0, 1002.0, 250.5, 'A')
(14, 'bikash', 45.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, '')
(15, 'gauri', 67.0, 56.0, 57.0, 78.0, 89.0, 347.0, 86.75, 'A')

In [5]:
# Search data from anywhere

db.execute("SELECT sn,name,total,grade FROM student1")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Bishal', 423.0, 'A')
(2, 'Shree', 290.0, 'c+')
(3, 'bijay', 417.0, 'A')
(11, 'simon', 415.0, 'B')

In [13]:
# sql='''INSERT INTO `student1` (sn, name, math, science, nepali, health, social, total, per, grade)
# VALUES (9,'ram', 76, 56, 87, 89, 89, 415, 68, 'B');'''
# db.execute(sql)
# database.commit()

# to insert the data
sql='''INSERT INTO `student1` (`sn`, `name`, `math`, `science`, `nepali`, `health`, `social`, `total`, `per`, `grade`)
VALUES ('6', 'ravi', '67', '56', '78', '78', '89', '400', '67', 'b')'''
db.execute(sql)
database.commit()

In [11]:
# how to make registration form mysql

name = input("Enter your Name = ")
math =int(input("Enter your Math marks: "))
science = int(input("Enter your Science marks: "))
nepali = int(input("Enter your Nepali marks: "))
health = int(input("Enter your chemistry marks: "))
social = int(input("Enter your chemistry marks: "))
total = math+science+nepali+health+social
per = total/4

if per>=80:
    grade = "A"
elif per>=60:
    grade = "B"
elif per>=50:
    grade = "C"
elif per>=40:
    grade = "D"
else:
    grade ="F" 
    
sql=f'''INSERT INTO `student1` ( name, math, science, nepali, health, social, total, per, grade)
VALUES ('{name}',{math},{science},{nepali},{health},{social},{total},{per},'{grade}')'''
print(sql)
db.execute(sql)
database.commit()

Enter your Name = gauri
Enter your Math marks: 67
Enter your Science marks: 56
Enter your Nepali marks: 57
Enter your chemistry marks: 78
Enter your chemistry marks: 89
INSERT INTO `student1` ( name, math, science, nepali, health, social, total, per, grade)
VALUES ('gauri',67,56,57,78,89,347,86.75,'A')

In [32]:
# Delete
sql="DELETE FROM student1 WHERE sn=10"
db.execute(sql)
database.commit()

In [35]:
# update
sql = "UPDATE student1 SET name = 'bijay' WHERE name = 'Hari'"
db.execute(sql)
database.commit()

In [8]:
sql = "UPDATE student1 SET name = 'prince' WHERE name = 'sandeep'"
db.execute(sql)
database.commit()

In [6]:
db.execute("SELECT * FROM student1")
result =db.fetchall()
for x in result:
    print(x)

(1, 'Bishal', 80.0, 90.0, 98.0, 78.0, 76.0, 423.0, 84.6, 'A')
(2, 'Shree', 80.0, 90.0, 100.0, 50.0, 60.0, 290.0, 58.0, 'c+')
(3, 'bijay', 70.0, 80.0, 79.0, 90.0, 98.0, 417.0, 84.5, 'A')
(6, 'ravi', 67.0, 56.0, 78.0, 78.0, 89.0, 400.0, 67.0, 'b')
(11, 'simon', 76.0, 56.0, 87.0, 89.0, 89.0, 415.0, 67.0, 'B')
(13, 'prince', 667.0, 78.0, 78.0, 89.0, 90.0, 1002.0, 250.5, 'A')
(14, 'bikash', 45.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, '')
(15, 'gauri', 67.0, 56.0, 57.0, 78.0, 89.0, 347.0, 86.75, 'A')