In [ ]:
# Tuple
# -Indexing
# -Ordered
# -Duplicate value
# -Multiple value
# -Imutable

In [1]:
a = (1,2,3,4,5)
b = ("Apple","Mango","Pear")
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [2]:
b = ("Apple","Mango","Pear")
print(b[2])

Pear

In [4]:
b = ("Apple","Mango","Pear")
print(b[0:3])

('Apple', 'Mango', 'Pear')

In [6]:
b = ("Apple","Mango","Pear")
a =("Tiger","Deer")
c = a+b
c

('Tiger', 'Deer', 'Apple', 'Mango', 'Pear')

In [11]:
b = ("Apple","Mango","Pear")
b*2

('Apple', 'Mango', 'Pear', 'Apple', 'Mango', 'Pear')

In [ ]:
# No append() insert() extend()
# No del pop() remove()
# No update
# No sort

In [15]:
a = ("Apple",)
type(a)

tuple

In [16]:
a =tuple()
b = a+("Apple",)
b

('Apple',)

In [17]:
a = tuple()
b = "Appe"
c = "Ball"
a = a+(b,)
a = a+(c,)
a

('Appe', 'Ball')

In [21]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
print(t)

Enter n = 4
Enter x = 12
Enter x = 12
Enter x = 13
Enter x = 11114
(12, 12, 13, 11114)

<!--  We can
max min sum
read search -->

In [22]:
a = ("Ram","Shyam","Hari","Ravi")
for i in a:
    print(i)

Ram
Shyam
Hari
Ravi

In [29]:
a = ("Ram","Shyam","Hari","Ravi")
if "Ram" in a:
    print("yes")

yes

In [26]:
a = ("Ram","Shyam","Hari","Ravi")
sorted(a)

['Hari', 'Ram', 'Ravi', 'Shyam']

In [ ]:
# tuple inside tuple

In [32]:
# t = ((1,2,3),
#     (4,5,6),
#     7,8,9))
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    y = int(input("Enter y = "))
    z = int(input("Enter z = "))
    t = t+((x,y,z),)
    print(t)

Enter n = 2
Enter x = 1
Enter y = 1
Enter z = 1
((1, 1, 1),)
Enter x = 2
Enter y = 2
Enter z = 2
((1, 1, 1), (2, 2, 2))

In [34]:
l =[]
t = ((1,2,3),(4,5,6))
for i in t:
    l.append(list(i))
    
l

[[1, 2, 3], [4, 5, 6]]

In [36]:
t = tuple()
l = [[1, 2, 3], [4, 5, 6]]
for i in l:
    t = t+(tuple(i),)
print(t)

((1, 2, 3), (4, 5, 6))

In [37]:
t = ([1, 2, 3], [4, 5, 6])
l = [(1, 2, 3),(4, 5, 6)]

In [38]:
t =  [(1, 2, 3),(4, 5, 6)]
t = list(t)
t

[(1, 2, 3), (4, 5, 6)]

In [39]:
t.append((1,2,3))
t

[(1, 2, 3), (4, 5, 6), (1, 2, 3)]

In [40]:
del t[0]
t

[(4, 5, 6), (1, 2, 3)]